$grey: #575757;
$greyLight: #9E9E9E;
$green: #616E24;
$black: #171717;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav{
    background-color: $black;
    color: #FFF;
    ul{
        list-style: none;
        display: flex;
            justify-content: center;
        text-align: center;
        li{
            padding: 5px 10px;
            a{
                color: #FFF;
                font-size: 10px;
                text-decoration: none;
            }
            a:hover{
                border-bottom: 1px solid #FFF;
            }
        }
        li.pipe{
            margin-top: 2px;
        }
    }
}

.intro{
    margin: 30px auto;
    width: 100%;
    text-align: center;
    img{
        width: 50%;
    }
    p{
        font-size: 12px;
        margin-top: 15px;
    }
}

#wrapper{
    margin-bottom: 50px;
}

.card{
    img {
    width: 100%;
}
    
}

.card-text{
    font-size: 12px;
    margin: 7px 15px 20px 15px;
}

.card h3{
    font-size: 14px;
    margin-bottom: 7px;
}

.card p{
    margin-bottom: 5px;
}

.card-button{
    background-color: $green;
    border: none;
    color: #FFF;
    display: flex;
//        align-items: center;
    margin-top: 10px;
    padding: 7px;
    .fa-caret-right{
        font-size: 16px;
        margin-left: 7px;
    }
}

.card-button:hover{
    background-color: #879932;
}

footer {
    color: $greyLight;
    background: $grey;
    font-size: 12px;
    padding: 15px;
    #footerDivWrapper{
        display: flex;
            justify-content: space-around;
        font-size: 10px;
        margin-top: 10px;
        #footerSocialmedia{
            font-size: 18px;
            .fa-instagram{
                margin-right: 5px;
            }
        }
        
}
}

@media only screen and (min-width: 768px){
    .card{
        display: flex;
        img{
            width: 50%;
        }
    }
    
    .card-1{
        .card-text{
            order: 1;
        }
        img{
            order: 2;
        }
    }
    .card-2{
        
    }
}






